.all-items {
  max-width: 320px;
  margin: 0 auto;
}

.all-items__add-items {
  padding: 25px 0;
  border-top: 1px solid $borderGrayColor;
  border-bottom: 1px solid $borderGrayColor;
  span {
    font-family: $arialFont;
    font-size: 12px;
    line-height: 1.33;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

}

.all-items__plus-btn {
  position: relative;
  font-size: 0;
  height: 30px;
  &::before {
    position: absolute;
    content: '';
    background: url(../../img/icon-plus-mobile.svg) no-repeat;
    left: 50%;
    height: 30px;
    width: 30px;
    transform: translateX(-50%);
  }

}

.all-items__show-more {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 7px;
}

.all-items__btn-wrapper {
  padding: 0 20px;
}

.all-items__more-block {
  padding: 30px 20px 0px 20px;
}

.all-items__more-title {
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  margin-top: 0;
  position: relative;

}

.all-items__presents {
  padding: 0 20px;
}

.all-items__presents-wrapper {
  height: 364px;
  padding: 40px 0px 35px 0px;
  border-top: 1px solid $borderGrayColor;
}

.all-items__presents-picture {
  height: 100%;
  background: url(../img/gift-photo-mobile@1x.jpg) no-repeat;
  display: flex;
  padding: 20px 20px 50px 20px;
}

.all-items__presents-text {
  font-size: 16px;
  position: relative;
  color: $whiteTextColor;
  margin-bottom: 0;
  text-align: center;
  padding: 0 30px;
  margin-top: auto;
  line-height: 1.1;
  &::before {
    position: absolute;
    content: '';
    background: url(../img/icon-gift.svg) no-repeat;
    width: 60px;
    height: 60px;
    top: -122px;
    left: 52%;
    transform: translateX(-52%);
  }
}

@media(min-width:768px) {
  .all-items {
    max-width: 100%;
    margin: 0;
  }
  .all-items__wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .all-items__main-block {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
  }
  .all-items__add-items {
    width: 42%;
    margin: 0 30px;
    padding: 140px 0 0 0;
    min-height: 571px;
    border: none;
    span {
      font-size: 16px;
      padding: 0 50px;
      margin-bottom: 80px;
    }
  }
  .all-items__add-items-wrapper {
    padding: 50px 0 37px 0;
    min-height: 431px;
    border-top: 1px solid $borderGrayColor;
    border-bottom: 1px solid $borderGrayColor;
  }
  .all-items__plus-btn {
    height: 60px;
    &::before {
      width: 60px;
      height: 60px;
    }

  }
  .all-items__show-more {
    font-size: 20px;
    padding: 0 75px;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .all-items__btn-wrapper {
    padding: 0 37px;
    a {
      font-size: 16px;
      line-height: 1.25;
      padding: 10px;
    }
  }
  .all-items__more-block {
    max-width: 768px;
    margin: 0 auto;
    padding: 65px 30px 0 30px;
  }
  .all-items__more-title {
    margin-bottom: 80px;
  }
}
