.btn {
  display: block;
  text-align: center;
  background-color: $mainGreenColor;
  color: $whiteTextColor;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 15px;
  font-size: 14px;
  line-height: 1.28;
  font-family: 'Oswald', 'Source Sans Pro', sans-serif;
  &--gray {
    background-color: $mainGrayColor;
    color: $textColor;
    &:hover {
      background-color: #ebebeb;
    }
    &:active {
      color: #b9b9b9;
    }
  }
  &:hover {
    background-color: #5eaa2f;
  }
  &:active {
    color: #8fc46e;
  }
}
@media(min-width:768px) {
  .btn {
    font-size: 20px;
    line-height: 1;
  }
}
