.catalog-more-item {
  padding: 12px 0 15px 0;
  border-top: 1px solid $borderGrayColor;
}

.catalog-more-item__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog-more-item__table {
  margin-bottom: 10px;
  td {
    font-size: 14px;
    line-height: 1;
  }
}

@media(min-width:768px) {
  .catalog-more-item {
    padding: 24px 35px 30px 40px;
    border-top: none;
    border-right: 1px solid $borderGrayColor;
    border-left: 1px solid $borderGrayColor;
    border-bottom: 1px solid $borderGrayColor;

    &--has-border{
      border-top: 1px solid $borderGrayColor;
    }
  }
  .catalog-more-item__title {
    width: 60%;
    margin-bottom: 0;
  }
  .catalog-more-item__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .catalog-more-item__table {
    width: 37%;
    margin-bottom: 0;
    td {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  .catalog-more-item__btn {
    font-size: 16px;
    line-height: 1.25;
    padding: 10px;

  }
}
@media(min-width:1300px) {
  .catalog-more-item {
    display: flex;
    padding: 15px 0 15px 0;
    border-left: none;
    border-right: none;
  }
  .catalog-more-item__wrapper {
    width: 72%;
    margin-right: 40px;
    margin-bottom: 0;
    align-items: center;
  }
  .catalog-more-item__btn {
    padding: 10px 100px;
  }
}
