.catalog-item {
  padding: 20px 0 25px 0;
  border-top: 1px solid $borderGrayColor;
}

.catalog-item__wrapper {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.catalog-item__img {
  position: relative;
  overflow: hidden;
  width: 49%;
  img {
    position: absolute;
    top: -18px;
  }
}

.catalog-item__details {
  width: 51%;
}

.catalog-item__name {
  text-decoration: none;
  color: $textColor;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.catalog-item__title {
  font-weight: 400;
  margin: 0;
  padding-right: 50px;
}

.catalog-item__btn-wrapper {
  padding: 0 20px;
}

@media(min-width:768px) {
  .catalog-item {
    width: 42%; //padding: 150px 0 35px 0;
    border: none;
    margin: 0 30px;
    position: relative;
    padding: 140px 0 0 0;
    min-height: 571px; //background-color: $mainGrayColor;
  }
  .catalog-item__wrapper {
    flex-direction: column;
    padding: 0 37px;
    margin-bottom: 32px;
  }
  .catalog-item__img {
    height: 230px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    img {
      left: 50%;
      transform: translateX(-50%);
    }
    &--small {
      top: 80px;
      img {
        width: 270px;
        height: 290px;
        top: -50px;
      }
    }
    &--big {
      top: 60px;
      img {
        width: 270px;
        height: 300px;
        top: -60px;
      }
    }

  }
  .catalog-item__all-wrapper {
    background-color: $mainGrayColor;
    padding: 165px 0 40px 0;
    min-height: 431px;
  }
  .catalog-item__details {
    width: 100%;
  }
  .catalog-item__title {
    text-align: center;
    padding: 0 50px;
    line-height: 1;
  }
  .catalog-item__name {
    margin-bottom: 20px;
  }
  .catalog-item__btn-wrapper {
    padding: 0 37px;
  }
  .catalog-item__btn {
    font-size: 16px;
    line-height: 1.25;
  }
}
