.contacts-info {
  &--gray {
    background-color: $mainGrayColor;
  }
}

.contacts-info__cooperation {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.contacts-info__title {
  margin: 0;
  width: 50%;
}

.contacts-info__our-address {
  font-size: 14px;
  line-height: 1.43;
  font-family: $arialFont;
  margin: 0;
  width: 50%;
}

.contacts-info__map {
  width: 100%;
}

.contacts-info__map iframe {
  width: 100%;
  height: 362px;
}

@media(min-width:768px) {
  .contacts-info__cooperation {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  .contacts-info__title {
    padding: 0 155px 0 40px;
  }
  .contacts-info__our-address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    padding: 0 40px 0 130px;
  }
  .contacts-info__map iframe {
    height: 396px;
  }
}

@media(min-width:1300px) {
  .contacts-info__cooperation {
    position: absolute;
    padding: 0;
    width: 570px;
    min-height: 205px;
    background-color: #ffffff;
    padding: 65px 35px 55px 75px;
  }
  .contacts-info {
    position: relative;
  }
  .contacts-info__wrapper {
    min-height: 400px;
    position: relative;
    z-index: 2;
    padding-top: 95px;
    padding-bottom: 105px;
  }
  .contacts-info__title {
    padding: 0;
  }
  .contacts-info__our-address {
    padding: 0 20px;
    text-align: left;
  }
  .contacts-info__map {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
