
.main-info__wrapper {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.main-info__title {
  color: $whiteTextColor;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}

.main-info__slogan {
  color: $whiteTextColor;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.main-info__img {
  text-align: center;
  margin-top: 30px
}

@media(min-width:768px) {
  .main-info__wrapper {
    max-width: 768px;
    padding: 0 30px;
    background-image: none;
    position: relative;
  }
  .main-info__title {
    color: $textColor;
    text-align: left;
    padding-left: 90px;
    padding-right: 60px;
    padding-top: 35px;
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1;
  }
  .main-info__slogan {
    color: $textColor;
    text-align: left;
    padding-left: 90px;
    font-size: 20px;
    line-height: 1;
  }
  .main-info__img {
    margin-top: 0;
    img {
      width: 620px;
      height: 600px;
      margin: 0 80px;
    }
  }
  .main-info__btn {
    position: absolute;
    top: 18%;
    left: 16%;
    padding: 17px 28px;
    transform: translateY(5px);
  }
}
