.main-info__wrapper {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/index-background-mobile@2x.jpg);
    background-size: 320px auto;
  }
}

.main-info__title {
  color: $whiteTextColor;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}

.main-info__slogan {
  color: $whiteTextColor;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.main-info__img {
  text-align: center;
  margin-top: 30px
}

@media(min-width:768px) {
  .main-info__wrapper {
    max-width: 768px;
    padding: 0 30px;
    background-image: none;
  }
  .main-info__content-wrapper {
    position: relative;
    min-height: 830px;
    padding: 0 60px 0 90px;
  }
  .main-info__title {
    color: $textColor;
    text-align: left;
    padding-right: 60px;
    padding-top: 35px;
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1;
  }
  .main-info__slogan {
    color: $textColor;
    text-align: left;
    font-size: 20px;
    line-height: 1;
  }
  .main-info__img {
    position: absolute;
    margin-top: 0;
    text-align: right;
    z-index: -1;
    img {
      width: 620px;
      height: 600px;
    }
  }
  .main-info__btn {
    display: inline-block;
    padding: 17px 28px;
    margin-top: 25px;
  }
}

@media(min-width:1300px) {
  .main-info__wrapper {
    max-width: 1300px;
    padding: 0 40px;
  }
  .main-info__content-wrapper {
    min-height: 570px;
    padding-left: 80px;
  }
  .main-info__title {
    padding-top: 100px;
    padding-right: 160px;
    width: 600px;
  }
  .main-info__btn {
    margin-top: 32px;
  }
  .main-info__img {
    top: 20px;
    left: 50%;
    transform: translateX(-30%);
    z-index: 10;
    img {
      width: 560px;
      height: 500px;
    }
  }
}
