.navigation {
  &--nojs {
    & .navigation__wrapper {
      display: block;
    }
  }
  &--closed {
    & .navigation__wrapper {
      display: none;
    }
  }
  &--open {
    & .navigation__wrapper {
      display: block;
    }
  }
}



.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation__item {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid $colorGray;
  min-height: 65px;

}

.navigation__item {
  a {
    padding: 20px;
    color: $textColor;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: #707070;
    }
    &:active {
      color: #b7b7b7;
    }

  }
}

@media(min-width:768px) {
  .navigation {
    .navigation__wrapper {
      display: block;
    }
  }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
  }
  .navigation {
    width: 70%;
    margin-right: -17px
  }
  .navigation__item {
    font-size: 18px;
    line-height: 1.38;
    border: none;
    min-height: 0;
    margin: 0 17px;
    &--active {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0px;
        height: 2px;
        background-color: $mainGreenColor;
      }
    }
    a {
      padding: 10px 0;
    }
  }
}

@media(min-width:1300px) {
  .navigation__item {
    font-size: 20px;
    &--black {
      a {
        color: $whiteTextColor;
        &:hover {
          color: #c1ddb1;
        }
        &:active {
          color: #94c377;
        }
      }
      &.navigation__item--active {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0px;
          height: 2px;
          background-color: $whiteTextColor;
        }
      }
    }
  }
}
