.range {
  position: relative;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  height: 14px;
  width: 82px;
  border-radius: 5px;
  margin: 0 19px;
  margin-top: 2px;
}
.range__toggle {
  position: absolute;
  background-color: $mainGreenColor;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  //left: 5px;
  cursor: pointer;

}
@media(min-width:768px) {
  .range {
    height: auto;
    width: auto;
    border: none;
    background: transparent;
  }
  .range__scale {
    height: 6px;
    border-radius: 5px;
    background-color: #dcdcdc;
    width: 430px;
  }
  .range__toggle {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 33px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid $borderGrayColor;
    border-radius: 50%;
    top: -15px;
    &::after {
      content: '';
      position: absolute;
      background-color: $mainGreenColor;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }
  }
}
