.social {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $borderGrayColor;
  border-top: 1px solid $borderGrayColor;
  text-align: center;
  font-size: 0;
}
.social__link {
  display: inline-block;
  text-decoration: none;
  font-size: 0;
  vertical-align: middle;
  position: relative;
  margin: 0 19px;
  &::before {
    position: absolute;
    content: '';
    left: 0;
  }
  &--vk {
    width: 23px;
    height: 12px;
    &::before {
      background: url(../img/icon-vk-mobile.svg) no-repeat;
      width: 23px;
      height: 12px;
    }
  }
  &--in {
    width: 16px;
    height: 16px;
    &::before {
      background: url(../img/icon-insta-mobile.svg) no-repeat;
      width: 16px;
      height: 16px;
    }
  }
  &--fb {
    width: 10px;
    height: 19px;
    &::before {
      background: url(../img/icon-fb-mobile.svg) no-repeat;
      width: 10px;
      height: 19px;
    }
  }
}
@media(min-width:768px) {
  .social {
    border: none;
    padding: 0;
    padding-left: 15px;
    width: 25%;
  }
  .social__link {
    margin: 0 13px;
    &--vk {
      width: 31px;
      height: 16px;
      &::before {
        width: 31px;
        height: 16px;
      }
    }
    &--in {
      width: 23px;
      height: 23px;
      &::before {
        width: 23px;
        height: 23px;
      }
    }
    &--fb {
      width: 14px;
      height: 30px;
      &::before {
        width: 14px;
        height: 30px;
      }
    }
  }
}
@media(min-width:1300px) {
  .social {
    padding-left: 30px;
    padding-right: 5px;
  }
}
