.table-info {
  width: 100%;
  td {
    font-family: $arialFont;
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
  }
  td {
    &:first-child {
      text-align: left;

    }
    &:last-child {
      text-align: right;
    }
  }
}

@media(min-width:768px) {
  .table-info {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid #cdcdcd;
    }
    td {
      font-size: 16px;
      line-height: 1;
      padding: 7px;
    }

  }
}
