.title__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.title__main {
  font-size: 36px;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.title {
  padding: 15px 0 34px 0;
}
